.circle {
	width: 150px;
	height: 150px;
	background-color: rgb(31, 229, 31);
	border-radius: 50%;
}

.circleCaught {
	background-color: red;
}

.pokemon-name {
	margin: 0;
	color: white;
	font-weight: 600;
	transform: rotate(-5deg) translateY(12px);
}

.button {
	width: 75px;
	height: 20px;
	color: black;
	background-color: rgb(255, 255, 0);
	text-transform: capitalize;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border-radius: 2px;
	border: none;
	transform: translateY(-10px);
}

.button:active {
	/* background-color: rgb(194, 194, 0); */
	box-shadow: inset 1px 1px 15px 1px;
}
